{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.editTeam'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.editTeam'|trans }}</h1>

    {{ include('team/_form.html.twig', {'button_label':  'label.update'|trans }) }}

    <a href="{{ path('app_team_index') }}">{{ 'new.backToList'|trans }}</a>

    {{ include('team/_delete_form.html.twig') }}
    
{% endblock %}
