{% extends 'base.html.twig' %}

{% block title %}{{ 'index.teamIndex'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'index.teamIndex'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'show.id'|trans }}</th>
                <th>{{ 'show.name'|trans }}</th>
                <th>{{ 'index.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.Name }}</td>
                <td>
                    <a href="{{ path('app_team_show', {'id': team.id}) }}">{{ 'show.show'|trans }}</a>
                    <a href="{{ path('app_team_edit', {'id': team.id}) }}">{{ 'show.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'index.noRecords'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_team_new') }}">{{ 'new.createNewTeamMember'|trans }}</a>
{% endblock %}
