{% extends 'base.html.twig' %}

{% block title %}{{ 'label.championshipMatches'|trans }}{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center min-h-screen">
    <div class="flex-grow p-6 w-full max-w-7xl mx-auto mt-12">

    <form method="get" action="{{ path('app_home') }}" class="mb-8 bg-gray-800 p-6 rounded-lg shadow-lg">
        <label for="status" class="block text-lg font-semibold text-white mb-2">{{ 'base.chooseStatus'|trans }} :</label>
        <select name="status" id="status" 
                class="px-4 py-2 border border-blue-500 bg-gray-700 text-white rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full sm:w-auto"
                onchange="this.form.submit()">
            <option value="present" {% if statusFilter == 'present' %}selected{% endif %}>{{ 'index.present'|trans }}</option>
            <option value="past" {% if statusFilter == 'past' %}selected{% endif %}>{{ 'index.past'|trans }}</option>
            <option value="future" {% if statusFilter == 'future' %}selected{% endif %}>{{ 'index.future'|trans }}</option>
        </select>

        <label for="championshiplist_id" class="block text-lg font-semibold text-white mb-2">{{ 'base.chooseChamp'|trans }} :</label>
        <select name="championshiplist_id" id="championshiplist_id" 
                class="px-4 py-2 border border-blue-500 bg-gray-700 text-white rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full sm:w-auto"
                onchange="this.form.submit()">
            <option value="">{{ 'base.selectChamp'|trans }}</option>
            {% for championshipList in championshipLists %}
                <option value="{{ championshipList.id }}" {% if championshipList.id == selected_championship_id %}selected{% endif %}>
                    {{ championshipList.championshipName }}
                </option>
            {% endfor %}
        </select>

        <!-- Sélection du terrain -->
        {% if selected_championship_id %}
        <label for="field_id" class="block text-lg font-semibold text-white mb-2 mt-4">Choisir un terrain :</label>
        <select name="field_id" id="field_id" 
                class="px-4 py-2 border border-blue-500 bg-gray-700 text-white rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full sm:w-auto"
                onchange="this.form.submit()">
            <option value="">Sélectionner un terrain</option>
            {% for field in fields %}
                <option value="{{ field.id }}" {% if field.id == selected_field_id %}selected{% endif %}>
                    {{ field.name }}
                </option>
            {% endfor %}
        </select>
        {% endif %}

        <!-- Sélection du créneau -->
        {% if selected_championship_id %}
        <label for="slot_id" class="block text-lg font-semibold text-white mb-2 mt-4">Choisir un créneau :</label>
        <select name="slot_id" id="slot_id" 
                class="px-4 py-2 border border-blue-500 bg-gray-700 text-white rounded-lg focus:ring-blue-400 focus:border-blue-400 block w-full sm:w-auto"
                onchange="this.form.submit()">
            <option value="">Sélectionner un créneau</option>
            {% for slot in slots %}
                <option value="{{ slot.id }}" {% if slot.id == selected_slot_id %}selected{% endif %}>
                    {{ slot.dateDebut|date('Y-m-d H:i:s') }}
                </option>
            {% endfor %}
        </select>
        {% endif %}

        <button type="submit" 
                class="mt-4 px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 transition duration-300 ease-in-out transform hover:scale-105">
            {{ 'index.displayMatch'|trans }}
        </button>
    </form>

        {% if championships is not empty %}
        <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            {% for championship in championships %}
            <div class="border border-blue-700 p-8 rounded-3xl shadow-2xl hover:shadow-3xl transition-shadow duration-300 bg-gray-900 transform hover:scale-105 transition-transform duration-300 hover:ring-4 hover:ring-blue-500 hover:ring-opacity-50">
                <div class="text-center mb-6">
                    <h2 class="text-2xl font-semibold text-blue-400">{{ 'base.match'|trans }}</h2>
                </div>
                <div class="flex justify-between mb-4 border-b pb-2">
                    <span class="text-lg font-semibold text-blue-400">{{ 'index.blueTeam'|trans }}</span>
                    <span class="text-lg font-bold text-blue-500">{{ championship.blueTeam.name }}</span>
                </div>
                <div class="flex justify-between mb-4 border-b pb-2">
                    <span class="text-lg font-semibold text-blue-400">{{ 'base.blueScore'|trans }}</span>
                    <span class="text-lg font-bold text-blue-500">{{ championship.blueGoal }}</span>
                </div>
                <div class="flex justify-between mb-4 border-b pb-2">
                    <span class="text-lg font-semibold text-green-400">{{ 'base.greenScore'|trans }}</span>
                    <span class="text-lg font-bold text-green-500">{{ championship.greenGoal }}</span>
                </div>
                <div class="flex justify-between mb-4 border-b pb-2">
                    <span class="text-lg font-semibold text-green-400">{{ 'index.greenTeam'|trans }}</span>
                    <span class="text-lg font-bold text-green-500">{{ championship.greenTeam.name }}</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-lg font-semibold text-gray-400">{{ 'index.state'|trans }}</span>
                    <span class="text-lg font-bold text-white">{{ championship.state.value }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Système de pagination avancé corrigé -->
       <div class="mt-8 flex justify-center space-x-2">
           {% set startPage = 1 %}
           {% if page - 2 > 1 %}
               {% set startPage = page - 2 %}
           {% endif %}


           {% set endPage = totalPages %}
           {% if page + 2 < totalPages %}
               {% set endPage = page + 2 %}
           {% endif %}


           {% if startPage > 1 %}
               <a href="{{ path('app_home', {'page': 1, 'championshiplist_id': selected_championship_id}) }}" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">1</a>
               {% if startPage > 2 %}
                   <span class="px-4 py-2 text-white">...</span>
               {% endif %}
           {% endif %}


           {% for i in startPage..endPage %}
               <a href="{{ path('app_home', {'page': i, 'championshiplist_id': selected_championship_id}) }}"
                  class="px-4 py-2 {% if i == page %}bg-blue-700{% else %}bg-blue-600{% endif %} text-white rounded-lg hover:bg-blue-700">{{ i }}</a>
           {% endfor %}


           {% if endPage < totalPages %}
               {% if endPage < totalPages - 1 %}
                   <span class="px-4 py-2 text-white">...</span>
               {% endif %}
               <a href="{{ path('app_home', {'page': totalPages, 'championshiplist_id': selected_championship_id}) }}" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">{{ totalPages }}</a>
           {% endif %}
       </div>

        {% else %}
            <p class="text-lg text-white text-center">{{ 'index.noChampionship'|trans }}</p>
        {% endif %}
    </div>
    <footer class="bg-gray-900 text-white py-12 w-full mt-12">
        <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
            <div>
                <h3 class="text-xl font-semibold mb-4">{{ 'base.info'|trans }}</h3>
                <a href="{{ path('app_home') }}" class="block hover:underline">{{ 'index.legalNotices'|trans }}</a>
                <a href="{{ path('app_home') }}" class="block hover:underline">{{ 'base.confPolicy'|trans }}</a>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">{{ 'base.support'|trans }}</h3>
                <a href="{{ path('app_home') }}" class="block hover:underline">{{ 'base.contact'|trans }}</a>
                <a href="{{ path('app_home') }}" class="block hover:underline">{{ 'base.qna'|trans }}</a>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">{{ 'base.followUs'|trans }}</h3>
                <a href="#" class="block hover:underline">{{ 'base.twt'|trans }}</a>
                <a href="#" class="block hover:underline">{{ 'base.fbk'|trans }}</a>
                <a href="#" class="block hover:underline">{{ 'base.insta'|trans }}</a>
            </div>
        </div>
    </footer>
</div>
{% endblock %}