{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>

</style>
<html>
    <body>
        <div class="flex justify-start flex-row p-8 space-y-8"> 
            <div class="bg-zinc-100 shadow-lg p-8 border border-zinc-50 h-screen w-screen">Tournois à venir</div>          
        </div>

        <!-- mettre en ahref plus tard -->
        <div class ="w-screen h-full bg-black text-white flex flex-col">
            <div class="flex flex-row justify-evenly p-8">
                <a href="{{path('app_home')}}">Mentions légales</a>
                <a href="{{path('app_home')}}">Mentions légales</a>
                <a href="{{path('app_home')}}">Mentions légales</a>
            </div>    
            <div class="flex flex-row justify-evenly p-8">
                <a href="{{path('app_home')}}">Mentions légales</a>
                <a href="{{path('app_home')}}">Mentions légales</a>
                <a href="{{path('app_home')}}">Mentions légales</a>
            </div>    
        </div>

        

    </body>
</html>

{% endblock %}  

