{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<html>
    <body>
        <div class="flex justify-start flex-row p-8 space-y-8"> 
            <div class="bg-zinc-100 shadow-lg p-8 border border-zinc-50 h-screen w-full overflow-auto rounded-xl hover:shadow-2xl transition-shadow duration-300">
                {% if championships is not empty %}
                <h1 class="text-3xl font-bold text-gray-800 mb-8">Liste des matchs</h1>
                <div class="overflow-x-auto">
                    <!-- Affichage pour les écrans moyens et grands -->
                    <div class="hidden md:block">
                        <table class="min-w-full text-sm text-left text-gray-800 border-collapse border border-gray-300 rounded-xl shadow-md hover:shadow-xl transition-shadow duration-300">
                            <thead class="text-base text-gray-700 uppercase bg-gradient-to-r from-blue-500 to-green-500 text-white">
                                <tr>
                                    <th scope="col" class="px-6 py-4">Équipe Bleue</th>
                                    <th scope="col" class="px-6 py-4">But Équipe Bleue</th>
                                    <th scope="col" class="px-6 py-4">But Équipe Verte</th>
                                    <th scope="col" class="px-6 py-4">Équipe Verte</th>
                                    <th scope="col" class="px-6 py-4">État</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                {% for championship in championships %}
                                <tr class="hover:bg-blue-50 transition-colors duration-300 rounded-lg">
                                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ championship.blueTeam.name }}</td>
                                    <td class="px-6 py-4">{{ championship.blueGoal }}</td>
                                    <td class="px-6 py-4">{{ championship.greenGoal }}</td>
                                    <td class="px-6 py-4 font-medium text-gray-900">{{ championship.greenTeam.name }}</td>
                                    <td class="px-6 py-4">{{ championship.state.value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Affichage compact pour les écrans medium et petits -->
                    <div class="block md:hidden">
                        {% for championship in championships %}
                        <div class="flex flex-col mb-4 border border-gray-300 p-4 rounded-xl shadow-md hover:shadow-xl transition-shadow duration-300">
                            <div class="flex justify-between bg-blue-200 px-4 py-2 font-medium text-blue-700 rounded-lg hover:bg-blue-300 transition-colors duration-300">
                                <span>Équipe Bleue:</span>
                                <span>{{ championship.blueTeam.name }}</span>
                            </div>
                            <div class="flex justify-between bg-green-200 px-4 py-2 font-medium text-green-700 rounded-lg hover:bg-green-300 transition-colors duration-300">
                                <span>Score:</span>
                                <span>{{ championship.blueGoal }}</span>
                            </div>
                            <div class="flex justify-between bg-blue-200 px-4 py-2 font-medium text-blue-700 rounded-lg hover:bg-blue-300 transition-colors duration-300 mt-2">
                                <span>Équipe Verte:</span>
                                <span>{{ championship.greenTeam.name }}</span>
                            </div>
                            <div class="flex justify-between bg-green-200 px-4 py-2 font-medium text-green-700 rounded-lg hover:bg-green-300 transition-colors duration-300 mt-2">
                                <span>Score:</span>
                                <span>{{ championship.greenGoal }}</span>
                            </div>
                            <div class="flex justify-between px-4 py-2 font-medium mt-2">
                                <span>État:</span>
                                <span>{{ championship.state.value }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    <p class="text-lg text-gray-700">Pas de championnat en cours</p>
                {% endif %}           
            </div>         
        </div>

        <!-- Pied de page -->
        <div class="w-screen h-full bg-black text-white flex flex-col">
            <div class="flex flex-row justify-evenly p-8">
                <a href="{{ path('app_home') }}" class="hover:underline">Mentions légales</a>
                <a href="{{ path('app_home') }}" class="hover:underline">Politique de confidentialité</a>
                <a href="{{ path('app_home') }}" class="hover:underline">Contact</a>
            </div>    
            <div class="flex flex-row justify-evenly p-8">
                <a href="{{ path('app_home') }}" class="hover:underline">Plan du site</a>
                <a href="{{ path('app_home') }}" class="hover:underline">Support</a>
                <a href="{{ path('app_home') }}" class="hover:underline">FAQ</a>
            </div>    
        </div>
    </body>
</html>
{% endblock %}
