{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.editMember'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.editMember'|trans }}</h1>

    {{ include('member/_form.html.twig', {'button_label':  'label.update'|trans }) }}

    <a href="{{ path('app_member_index') }}">{{ 'new.backToList'|trans }}</a>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
