{% extends 'base.html.twig' %}

{% block title %} {{ 'index.memberIndex'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'index.memberIndex'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'show.id'|trans }}</th>
                <th>{{ 'show.name'|trans }}</th>
                <th>{{ 'show.passwd'|trans }}</th>
                <th>{{ 'index.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.Name }}</td>
                <td>{{ member.Email }}</td>
                <td>
                    <a href="{{ path('app_member_show', {'id': member.id}) }}">{{ 'show.show'|trans }}</a>
                    <a href="{{ path('app_member_edit', {'id': member.id}) }}">{{ 'show.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'index.noRecords'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_member_new') }}">{{ 'new.createNewMember'|trans }}</a>
{% endblock %}
