{% extends 'base.html.twig' %}

{% block title %}{{ 'show.member'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'show.member'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'show.id'|trans }}</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>{{ 'show.name'|trans }}</th>
                <td>{{ member.Name }}</td>
            </tr>
            <tr>
                <th>{{ 'show.email'|trans }}</th>
                <td>{{ member.Email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_member_index') }}">{{ 'new.backToList'|trans }}</a>

    <a href="{{ path('app_member_edit', {'id': member.id}) }}">{{ 'show.edit'|trans }}</a>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
