{% extends 'base.html.twig' %}

{% block title %}{{ 'base.slotIndex'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'base.slotIndex'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'show.id'|trans }}</th>
                <th>{{ 'index.beginDate'|trans }}</th>
                <th>{{ 'index.endDate'|trans }}</th>
                <th>{{ 'index.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for slot in slots %}
            <tr>
                <td>{{ slot.id }}</td>
                <td>{{ slot.dateDebut ? slot.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ slot.dateEnd ? slot.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_slot_show', {'id': slot.id}) }}">{{ 'show.show'|trans }}</a>
                    <a href="{{ path('app_slot_edit', {'id': slot.id}) }}">{{ 'show.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'index.noRecords'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_slot_new') }}">{{ 'new.add'|trans }}</a>
{% endblock %}
