{% extends 'base.html.twig' %}

{% block title %}{{ 'new.newSlot'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new.createNewSlot'|trans }}</h1>

    {{ include('slot/_form.html.twig') }}

    <a href="{{ path('app_slot_index') }}">{{ 'new.backToList'|trans }}</a>
{% endblock %}
