{% extends 'base.html.twig' %}

{% block body %}

<!-- Formulaire pour générer le championnat -->
<form method="post" action="{{ path('app_championship_generate') }}" class="mb-8">
    <button type="submit" class="px-6 py-3 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600">{{ 'index.generateChampionship'|trans }}</button>
</form>

<!-- Formulaire pour supprimer tous les championnats -->
<form method="post" action="{{ path('app_championship_delete_all') }}" onsubmit="return confirm('Are you sure you want to delete all the matches?');" class="mb-8">
    <button type="submit" class="px-6 py-3 bg-red-500 text-white font-semibold rounded-md hover:bg-red-600">{{ 'index.deleteChampionship'|trans }}</button>
</form>

<h1 class="text-3xl font-bold text-gray-800 mb-8">{{ 'index.matchList'|trans }}</h1>

<!-- Table du championnat avec les rencontres -->
{% if championships is not empty %}
    <div class="overflow-x-auto">
        <table class="min-w-full text-sm text-left text-gray-800 border-collapse border border-gray-300">
            <thead class="text-lg text-gray-700 uppercase bg-gray-100">
                <tr>
                    <th class="px-6 py-4 font-medium">{{ 'index.blueTeam'|trans }}</th>
                    <th class="px-6 py-4 font-medium">{{ 'index.greenTeam'|trans }}</th>
                    <th class="px-6 py-4 font-medium">{{ 'index.goalBlueTeam'|trans }}</th>
                    <th class="px-6 py-4 font-medium">{{ 'index.goalGreenTeam'|trans }}</th>
                    <th class="px-6 py-4 font-medium">{{ 'index.state'|trans }}</th>
                    <th class="px-6 py-4 font-medium">{{ 'index.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for championship in championships %}
                    <tr class="hover:bg-gray-50">
                        <td class="px-8 py-6 font-medium text-gray-900 whitespace-nowrap">{{ championship.blueTeam.name }}</td>
                        <td class="px-8 py-6 font-medium text-gray-900 whitespace-nowrap">{{ championship.greenTeam.name }}</td>
                        <td class="px-8 py-6">
                            <form method="POST" action="{{ path('app_championship_save_score', {'id': championship.id}) }}">
                                <input type="number" name="blueScore" value="{{ championship.blueGoal }}" min="0" required class="px-3 py-2 border border-gray-300 rounded-md">
                        </td>
                        <td class="px-8 py-6">
                            <input type="number" name="greenScore" value="{{ championship.greenGoal }}" min="0" required class="px-3 py-2 border border-gray-300 rounded-md">
                        </td>
                        <td class="px-8 py-6">
                            <select name="state" required class="px-3 py-2 border border-gray-300 rounded-md">
                                {% for state in states %}
                                    <option value="{{ state.value }}" {% if championship.state.value == state.value %}selected{% endif %}>{{ state.value }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="px-8 py-6">
                            <button type="submit" class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600">{{ 'index.save'|trans }}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="text-lg text-gray-700">{{ 'index.noMatch'|trans }}</p>
{% endif %}

{% endblock %}
