{% extends 'base.html.twig' %}

{% block title %}Phase d'élimination pour le championnat "{{ championship_list.ChampionshipName }}"{% endblock %}

{% block body %}
    <h1>Phase d'élimination pour le championnat "{{ championship_list.ChampionshipName }}"</h1>

    <h2>Équipes qualifiées</h2>
    <ul>
        {% for team in qualified_teams %}
            <li>{{ team.name }} - {{ team.isQualifiedForElimination ? 'Qualifiée' : 'Non qualifiée' }}</li>
        {% endfor %}
    </ul>

    <h2>Générer les matchs d'élimination</h2>
    <form action="{{ path('app_championship_generate') }}" method="post">
        <input type="hidden" name="championship_list_id" value="{{ championship_list.id }}">
        <button type="submit">Générer les matchs</button>
    </form>

    <h2>Matchs éliminatoires</h2>
    <ul>
        {% for match in championship_list.matches %}
            {% if match.isElimination %}
                {% if match.blueTeam.isQualifiedForElimination() and match.greenTeam.isQualifiedForElimination() %}
                    <li>{{ match.blueTeam.name }} vs {{ match.greenTeam.name }} - {{ match.state.value }}</li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
