{# templates/championship/elimination.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Phase d'élimination{% endblock %}

{% block body %}
    <h1>Phase d'élimination</h1>

    {# Affichage des matchs pour chaque round #}
    {% for round, matches in matches_by_round %}
        <h2>Round {{ round }}</h2>
        
        <ul>
            {% for match in matches %}
                <li>
                    {{ match.blueTeam.name }} vs {{ match.greenTeam.name }} - 
                    {{ match.state.value }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    {# Vérification si tous les matchs du tournoi sont terminés #}
    {% set allMatchesFinished = true %}
    {% for round, matches in matches_by_round %}
        {% for match in matches %}
            {% if match.state.value != 'winBlue' and match.state.value != 'winGreen' %}
                {% set allMatchesFinished = false %}
            {% endif %}
        {% endfor %}
    {% endfor %}


    {# Vérification si nous sommes à la finale en vérifiant le dernier round #}
    {% set isFinale = matches_by_round|last|length == 1 %}

    {% if isFinale %}
        <h3>La team gagnante :</h3>
        {% for match in matches_by_round|last %}
            {% if match.state.value == 'winBlue' %}
                <p>{{ match.blueTeam.name }} a gagné !</p>
            {% elseif match.state.value == 'winGreen' %}
                <p>{{ match.greenTeam.name }} a gagné !</p>
            {% else %}
                <p>Le match n'est pas encore terminé.</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    {# Affichage du bouton "Actualiser" si tous les matchs sont terminés #}
    {% if allMatchesFinished %}
        <a href="{{ path('app_championship_next_round', {'id': championship_list.id}) }}" class="btn btn-primary">
            Actualiser
        </a>
    {% endif %}
{% endblock %}
