{% extends 'base.html.twig' %}
{% block body %}



<!-- Formulaire pour générer le championnat -->
<form method="post" action="{{ path('app_championship_generate') }}">
    <button type="submit" class="btn btn-success">Générer Championnat</button>
</form>

<!-- Formulaire pour supprimer tous le championnats -->
<form method="post" action="{{ path('app_championship_delete_all') }}" onsubmit="return confirm('Are you sure you want to delete all the matches?');">
    <button type="submit" class="btn btn-danger">Supprimer le championnat</button>
</form>
<h1>Liste des matchs</h1>
<!-- Table du championnat avec les rencontres -->
{% if championships is not empty %}
    <table class="table">
        <thead>
            <tr>
                <th>Equipe Blue</th>
                <th>Equipe Green</th>
                <th>But Equipe Blue</th>
                <th>But Equipe Green</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
            {% for championship in championships %}
                <tr>
                    <td>{{ championship.blueTeam.name }}</td>
                    <td>{{ championship.greenTeam.name }}</td>
                    <td>
                        <form method="POST" action="{{ path('app_championship_save_score', {'id': championship.id}) }}">
                            <input type="number" name="blueScore" value="{{ championship.blueGoal }}" min="0" required>
                                </td>
                                <td>
                                    <input type="number" name="greenScore" value="{{ championship.greenGoal }}" min="0" required>
                                </td>
                                <td>
                                    <select name="state" required>
                                        {% for state in states %}
                                            <option value="{{ state.value }}" {% if championship.state.value == state.value %}selected{% endif %}>
                                                {{ state.value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucun matchs disponible. Veuillez générer le championnat.</p>
{% endif %}
{% else %}
    <p>Aucun matchs disponible. Veuillez générer le championnat.</p>
{% endif %}

{% endblock %}
