{% extends 'base.html.twig' %}

{% block title %}{{ 'new.newChampionship'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new.createNewChampionship'|trans }}</h1>

    {{ include('championship/_form.html.twig') }}

    <a href="{{ path('app_championship_index') }}">{{ 'new.backToList'|trans }}</a>
{% endblock %}
