{% extends 'base.html.twig' %}

{% block title %}{{ 'index.editChampionship'|trans }}{% endblock %}

{% block body %}
<div class="container mx-auto p-8 bg-gray-900 text-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold text-center text-white mb-8">{{ 'edit.editChamp'|trans }}</h1>

    <div class="p-6 bg-gray-800 rounded-lg mb-6">
        {{ include('championship_list/_form.html.twig', {'button_label':  'label.update'|trans}) }}
        
    </div>

    <hr class="border-gray-700 my-6"/>

    <div class="text-center space-y-4">
        <a href="{{ path('app_championship_list_new_slot', {'id': championship_list.id }) }}" 
           class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition duration-300">
            {{ 'base.addSlots'|trans }}
        </a>

        <a href="{{ path('app_championship_list_new_field', {'id': championship_list.id }) }}" 
           class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition duration-300">
            {{ 'index.addFields'|trans }}
        </a>
    </div>

    <hr class="border-gray-700 my-6"/>

    <div class="text-center">
        {{ include('championship_list/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}