{% extends 'base.html.twig' %}

{% block title %}Gérer les équipes{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center min-h-screen">
    <p class="text-5xl font-bold text-white mt-12 mb-8">Gérer les équipes</p>

    <div class="flex-grow p-6 w-full max-w-7xl mx-auto mt-12 bg-gray-800 rounded-lg shadow-lg">
        <h2 class="text-3xl font-semibold text-white-400 mb-4">Équipes validées</h2>
        <ul class="space-y-4">
            {% for team in teamsvalidated %}
                <li class="text-lg font-medium text-blue-300">{{ team.Name }}</li>
                <a href={{ path('app_championship_list_unvalidate_team', {'id': championship_list.id, 'idTeam': team.id }) }} class="text-red-500 hover:underline">Retirer l'équipe</a>
            {% endfor %}
        </ul>

        <h2 class="text-3xl font-semibold text-white-400 mt-12 mb-4">Demandes de validation</h2>
        <ul class="space-y-4">
            {% for team in teamsnotvalidated %}
                <li class="text-lg font-medium text-white-300">{{ team.Name }}</li>
                <a href={{ path('app_championship_list_validate_team', {'id': championship_list.id, 'idTeam':team.id }) }} class="text-white-500 hover:underline">Valider</a>
            {% endfor %}
        </ul>

        <a href={{ path('app_championship_index') }} class="block text-center text-lg font-semibold text-white mt-12 underline">Retour aux championnats</a>
    </div>

    <footer class="bg-gray-900 text-white py-12 w-full mt-12 rounded-t-lg">
        <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
            <div>
                <h3 class="text-xl font-semibold mb-4">{{ 'base.info'|trans }}</h3>
                <a href="{{ path('app_home') }}" class="block hover:underline">{{ 'index.legalNotices'|trans }}</a>
                <a href="{{ path('app_home') }}" class="block hover:underline">{{ 'base.confPolicy'|trans }}</a>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">{{ 'base.support'|trans }}</h3>
                <a href="{{ path('app_home') }}" class="block hover:underline">{{ 'base.contact'|trans }}</a>
                <a href="{{ path('app_home') }}" class="block hover:underline">{{ 'base.qna'|trans }}</a>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">{{ 'base.followUs'|trans }}</h3>
                <a href="#" class="block hover:underline">{{ 'base.twt'|trans }}</a>
                <a href="#" class="block hover:underline">{{ 'base.fbk'|trans }}</a>
                <a href="#" class="block hover:underline">{{ 'base.insta'|trans }}</a>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
