{% extends 'base.html.twig' %}

{% block title %}ChampionshipList index{% endblock %}

{% block body %}
    <h1>ChampionshipList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'show.id'|trans }}</th>
            </tr>
            <tr>
                <th>{{ 'new.championshipName'|trans }}</th>
            </tr>
            <tr>
                <th>{{ 'base.description'|trans }}</th>
            </tr>
            <tr>
                <th>{{ 'base.addr'|trans }}</th>
            </tr>
            <tr>
                <th>{{ 'index.beginDate'|trans }}</th>
            </tr>
            <tr>
                <th>{{ 'index.endDate'|trans }}</th>
            </tr>
            <tr>
                <th>{{ 'base.threshold'|trans }}</th>
            </tr>
            <tr>
                <th>{{ 'index.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for championship_list in championship_lists %}
            <tr>
                <td>{{ championship_list.id }}</td>
                <td>{{ championship_list.ChampionshipName }}</td>
                <td>{{ championship_list.description }}</td>
                <td>{{ championship_list.adress }}</td>
                <td>{{ championship_list.dateStart ? championship_list.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ championship_list.dateEnd ? championship_list.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ championship_list.threshold }}</td>
                <td>
                    <a href="{{ path('app_championship_list_show', {'id': championship_list.id}) }}">{{ 'show.show'|trans }}</a>
                    <a href="{{ path('app_championship_list_edit', {'id': championship_list.id}) }}">{{ 'show.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'index.noRecords'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_championship_list_new') }}">{{ 'new.add'|trans }}</a>
{% endblock %}
