{% extends 'base.html.twig' %}

{% block title %}{{ 'new.championshipList'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new.championshipList'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'show.id'|trans }}</th>
                <td>{{ championship_list.id }}</td>
            </tr>
            <tr>
                <th>{{ 'new.championshipName'|trans }}</th>
                <td>{{ championship_list.ChampionshipName }}</td>
            </tr>
            <tr>
                <th>{{ 'base.description'|trans }}</th>
                <td>{{ championship_list.description }}</td>
            </tr>
            <tr>
                <th>{{ 'base.addr'|trans }}</th>
                <td>{{ championship_list.adress }}</td>
            </tr>
            <tr>
                <th>{{ 'index.beginDate'|trans }}</th>
                <td>{{ championship_list.dateStart ? championship_list.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'index.endDate'|trans }}</th>
                <td>{{ championship_list.dateEnd ? championship_list.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'base.threshold'|trans }}</th>
                <td>{{ championship_list.threshold }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_championship_list_index') }}">{{ 'new.backToList'|trans }}</a>

    <a href="{{ path('app_championship_list_edit', {'id': championship_list.id}) }}">{{ 'show.edit'|trans }}</a>

    {{ include('championship_list/_delete_form.html.twig') }}
{% endblock %}
