{% extends 'base.html.twig' %}

{% block title %}{{ 'index.newField'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'index.createNewField'|trans }}</h1>

    {{ include('field/_form.html.twig') }}

    <a href="{{ path('app_field_index') }}">{{ 'new.backToList'|trans }}</a>
{% endblock %}
