{% block title %}   {% endblock %}

<head>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% endblock %}
    <script>
        // Rafraîchit la page toutes les 15 secondes
        setInterval(function() {location.reload();}, 15000);
    </script>
</head>

{% block body %}
<body class="bg-gradient-to-br h-screen from-gray-900 to-gray-800 text-white">

    {% set route = app.request.attributes.get('_route') %}
    {% set route_params = app.request.attributes.get('_route_params') %}
    {% set params = route_params|merge(app.request.query.all) %}

    {% if championships is not empty %}
        <div class="text-center mb-6"></div>
        <div class="flex flex-wrap items-center justify-center">
            <div class="relative overflow-x-auto rounded-md bg-gray-800 p-6 shadow-lg">
                <table class="w-full text-sm rounded-md text-left rtl:text-right text-white">
                    <thead class="rounded-b-3xl border-b border-black bg-gray-900 text-xs uppercase">
                        <tr>
                            <th scope="col" class="text-white px-6 py-3">{{ 'index.blueTeam'|trans }}</th>
                            <th scope="col" class="text-white px-6 py-3">{{ 'index.beginDate'|trans }}</th>
                            <th scope="col" class="text-white px-6 py-3">{{ 'index.field'|trans }}</th>
                            <th scope="col" class="text-white px-6 py-3">{{ 'base.blueScore'|trans }}</th>
                            <th scope="col" class="text-white px-6 py-3">{{ 'base.greenScore'|trans }}</th>
                            <th scope="col" class="px-6 py-3">{{ 'index.greenTeam'|trans }}</th>
                            <th scope="col" class="px-6 py-3">{{ 'index.state'|trans }}</th>
                        </tr>
                    </thead>

                    {% for championship in championships %}
                        {% if championship.slot is not null %}
                            {% if championship.slot.dateDebut|date('Y-m-d H:i') <= "now"|date_modify("+1 hour")|date("Y-m-d H:i") and championship.slot.dateEnd|date('Y-m-d H:i') >= "now"|date_modify("+1 hour")|date("Y-m-d H:i") %}
                                <tbody>
                                    <tr class="border-4 border-green-700 bg-gray-700 mb-4 rounded-lg hover:bg-gray-600 transition duration-300">
                                        <td class="px-6 py-4">{{ championship.blueTeam.name }}</td>
                                        <td class="px-6 py-4">{{ championship.slot.dateDebut|date('H:i:s d-m-Y ') }}</td>
                                        <td class="px-6 py-4">{{ championship.field.name }}</td>
                                        <td class="px-6 py-4">{{ championship.blueGoal }}</td>
                                        <td class="px-6 py-4">{{ championship.greenGoal }}</td>
                                        <td class="px-6 py-4">{{ championship.greenTeam.name }}</td>
                                        <td class="px-6 py-4">{{ championship.state.value }}</td>
                                    </tr>
                                </tbody>
                            {% else %}
                                {% if championship.slot.dateEnd|date('Y-m-d H:i:s') > "now"|date_modify("+1 hour")|date("Y-m-d H:i:s") %}
                                    <tbody>
                                        <tr class="border-4 border-yellow-700 bg-gray-700 mb-4 rounded-lg hover:bg-gray-600 transition duration-300">
                                            <td class="px-6 py-4">{{ championship.blueTeam.name }}</td>
                                            <td class="px-6 py-4">{{ championship.slot.dateDebut|date('H:i:s d-m-Y ') }}</td>
                                            <td class="px-6 py-4">{{ championship.field.name }}</td>
                                            <td class="px-6 py-4">{{ championship.blueGoal }}</td>
                                            <td class="px-6 py-4">{{ championship.greenGoal }}</td>
                                            <td class="px-6 py-4">{{ championship.greenTeam.name }}</td>
                                            <td class="px-6 py-4">{{ championship.state.value }}</td>
                                        </tr>
                                    </tbody>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>    
        </div>  
    {% else %}
        <p class="text-lg text-white text-center mt-6">{{ 'index.noChampionship'|trans }}</p>
    {% endif %}
</body>

{% endblock %}