{% extends 'base.html.twig' %}

{% block title %}tableau des scores{% endblock %}

{% block body %}
<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-gray-900 to-gray-800 text-white py-8 px-4">
    <div class="max-w-7xl w-full bg-gray-900 shadow-2xl rounded-3xl p-6 md:p-8">
        <h1 class="text-5xl font-bold text-center text-white mb-8">{{ 'label.scoreBoard'|trans }}</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for team in teams %}
                <div class="p-6 bg-gray-800 rounded-xl shadow-md border-2 border-blue-500 transition duration-300 transform hover:scale-105 hover:bg-gray-700 hover:shadow-xl">
                    <p class="text-2xl font-bold text-white">{{ team.getName() }}</p>
                    <p class="text-xl text-blue-400 mt-2">{{ 'base.score'|trans }} {{ team.getScore() }}</p>
                </div>
            {% else %}
                <div class="p-6 bg-gray-800 rounded-xl shadow-md border-2 border-blue-500 text-center">
                    <p class="text-xl text-gray-400">{{ 'index.noRecords'|trans }}</p>
                </div>
            {% endfor %}
        </select>
        <button type="submit" class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition duration-300 mt-4">
            Voir les Matchs
        </button>
    </form>
</div>

    <table class="min-w-full table-auto border-collapse">
    <thead>
        <tr class="bg-gray-500 text-left">
            <th class="px-4 py-2 border-b">Nom Equipe</th>
            <th class="px-4 py-2 border-b">Score</th>
            <th class="px-4 py-2 border-b">Moyenne de buts</th>
            <th class="px-4 py-2 border-b">Date d'inscription</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
            <tr class="hover:bg-gray-500">
                <td class="px-4 py-2 border-b">{{ team.Name }}</td>
                <td class="px-4 py-2 border-b">{{ team.score }}</td>
                <td class="px-4 py-2 border-b">{{ team.goalAverage }}</td>
                <td class="px-4 py-2 border-b">{{ team.inscriptionDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
