{% extends 'base.html.twig' %}

{% block title %}tableau des scores{% endblock %}

{% block body %}

    <div class="mb-6">
    <label for="championshiplist_id" class="text-lg font-semibold text-gray-300">Choisir un championnat</label>
    <form method="get" action="{{ path('app_score_table_id', {'idlist': selected_championship_list.id ?? 0}) }}" class="space-y-4">
        <select name="championshiplist_id" id="championshiplist_id" class="px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-md w-full sm:w-auto">
            <option value="">Sélectionner un championnat</option> <!-- Option vide par défaut -->
            {% for championshipList in championshiplists %}
                <option value="{{ championshipList.id }}" 
                        {% if championshipList.id == selected_championship_list.id %}selected{% endif %}>
                    {{ championshipList.ChampionshipName }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition duration-300 mt-4">
            Voir les Matchs
        </button>
    </form>
</div>

    <table class="min-w-full table-auto border-collapse">
    <thead>
        <tr class="bg-gray-500 text-left">
            <th class="px-4 py-2 border-b">Classement</th>
            <th class="px-4 py-2 border-b">Nom Equipe</th>
            <th class="px-4 py-2 border-b">Score</th>
            <th class="px-4 py-2 border-b">Moyenne de buts</th>
            <th class="px-4 py-2 border-b">Date d'inscription</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
            {% if app.user and team.creator == app.user %}
                <tr class="bg-gray-700 hover:bg-gray-500">
                    <td class="px-4 py-2 border-b">{{ loop.index }}</td>
                    <td class="px-4 py-2 border-b">{{ team.Name }}</td>
                    <td class="px-4 py-2 border-b">{{ team.score }}</td>
                    <td class="px-4 py-2 border-b">{{ team.goalAverage }}</td>
                    <td class="px-4 py-2 border-b">{{ team.inscriptionDate|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% else %}
                <tr class="hover:bg-gray-500">
                    <td class="px-4 py-2 border-b">{{ loop.index }}</td>
                    <td class="px-4 py-2 border-b">{{ team.Name }}</td>
                    <td class="px-4 py-2 border-b">{{ team.score }}</td>
                    <td class="px-4 py-2 border-b">{{ team.goalAverage }}</td>
                    <td class="px-4 py-2 border-b">{{ team.inscriptionDate|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
