{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.editUser'|trans }}{% endblock %}

{% block body %}

{{ form_start(form) }}

    {# Sélection du championnat et bouton pour recharger #}
    {{ form_row(form.championship) }}
    <button type="submit" name="reload" value="1">Afficher les équipes</button>

    {# Affichage des équipes uniquement après sélection du championnat #}
    {% if form.myTeams is defined %}
        {{ form_row(form.myTeams) }}
    {% endif %}
    
    {% if form.removeCreator.vars.disabled == false %}
        {{ form_row(form.removeCreator) }}
    {% endif %}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}
    
    {# Bouton de validation complète #}
    <button type="submit">Mettre à jour</button>

{{ form_end(form) }}


{% endblock %}
