{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.editUser'|trans }}{% endblock %}

{% block body %}

{{ form_start(form) }}

    {# Sélection du championnat et bouton pour recharger #}
    {{ form_row(form.championship) }}
    <button type="submit" name="reload" value="1">{{ 'show.displayTeams'|trans }}</button>

    {# Bouton pour attribuer une équipe sans créateur #}
    {% if teamsWithoutCreator is not empty and userTeam is empty %}
        <h3>{{ 'show.teamsWithoutCreators'|trans }}</h3>
        <ul>
            {% for team in teamsWithoutCreator %}
                <li>
                    {{ team.name }}
                    <button type="submit" name="assign_team" value="{{ team.id }}">{{ 'show.attributeThisTeam'|trans }}</button>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {# Affichage de l'équipe de l'utilisateur si elle appartient au championnat sélectionné #}
    {% if userTeam is not empty %}
        <h3>{{ 'show.usersTeam'|trans }}</h3>
        <p>{{ userTeam.name }}</p>
        <button type="submit" name="removeCreator" value="1">{{ 'show.removeCreator'|trans }}</button>
    {% endif %}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}

    {# Bouton de validation complète #}
    <button type="submit" name="submit">{{ 'label.update2'|trans }}</button>

{{ form_end(form) }}

{% endblock %}
