{% extends 'base.html.twig' %}

{% block title %}{{ 'user.new'|trans }}{% endblock %}

{% block body %}

{{ form_start(form) }}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}

    {# Bouton de validation complète #}
    <button type="submit">{{ 'login.submit'|trans }}</button>

{{ form_end(form) }}

{% endblock %}
