{% extends 'base.html.twig' %}

{% block title %}{{ 'new.newUser'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new.createNewUser'|trans }}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">{{ 'new.backToList'|trans }}</a>
{% endblock %}
